<!-- lista-cats.component.html -->

<h2>Lista de Gatos</h2>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Origem</th>
      <th>Temperamento</th>
      <th>Cor</th>
      <th>Descrição</th>
      

    </tr>
    <tr>
        <th>Imagem</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let gato of listaDeGatos">
      <td>{{ gato.id }}</td>
      <td>{{ gato.name }}</td>
      <td>{{ gato.origin }}</td>
      <td>{{ gato.temperament }}</td>
      <td>{{ gato.colors }}</td>
      <td>{{ gato.description }}</td>
      <td>{{ gato.image }}</td>
    </tr>
  </tbody>
</table>
